.footer__item {
  display: inline;
  margin-right: 18px;
}

.footer__item:last-of-type {
  margin-right: 0;
}

@media (max-width: 767px) {
  .footer__item {
    margin: 0 0 32px;
    display: block;
  }
  .footer__item:last-of-type {
    margin-bottom: 48px;
  }
}
